<h2>Все автомобили</h2>
<h3>@Model.currCategory</h3>
<div class="row mt-4 mb-2">
    @{
        foreach (CarModel car in Model.allCars)
        {
            @Html.Partial("AllCars", car)
        }  
        
     }
</div>